<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wrath of Ancient Egypt - Online Multiplayer Ludo Game!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/mdn1alb.css">
</head>
<body class="game">
    <div class="wrapper">
        <div class="player player-blue">
            <img class="player-coin" src="images/coin-blue@2x.png" />
            <h3 class="player-name">Player 1</h3>
        </div>
        <div class="player player-orange">
            <img class="player-coin" src="images/coin-orange@2x.png" />
            <h3 class="player-name">Player 2</h3>
        </div>
        <div class="player player-green">
            <img class="player-coin" src="images/coin-green@2x.png" />
            <h3 class="player-name">Player 3</h3>
        </div>
        <div class="player player-yellow">
            <img class="player-coin" src="images/coin-yellow@2x.png" />
            <h3 class="player-name">Player 4</h3>
        </div>
        <div class="control-buttons">
                <div class="close-btn" onclick="toggleModalVisibility(modals.exitGame);"><img src="images/close@2x.png"/></div>
                <div class="help-btn" onclick="toggleModalVisibility(modals.help);"><img src="images/help@2x.png"/></div>
        </div>
    </div>

    <canvas id="board-layout-canvas"></canvas>

    <div id="exit-game-modal" class="modal has-box-shadow has-text-light">
        <div class="close-btn" onclick="toggleModalVisibility(modals.exitGame);"><img src="images/close@2x.png"/></div>
        <h2 class="has-text-uppercase">Do you want to end this game?</h2>
        <hr>
        <p>You're about to leave the game. This will <strong>terminate</strong> the session for <strong>all</strong> players. Are you sure? </p>
        <a class="exit-btn" href="/">Yes, return to the homepage</a>
    </div>

    <div id="enter-username-modal" class="modal has-box-shadow">
        <div class="close-btn" onclick="toggleModalVisibility(modals.enterUsername);"><img src="images/close@2x.png"/></div>
        <h2 class="has-text-uppercase">Almost ready!</h2>
        <hr>
        <form action="/game" method="post">
            <span class="has-text-regular">Enter a username:</span></br>
            <input type="text" name="username" placeholder="username" pattern="[a-zA-Z0-9_-@$&]+" maxlength="12" minlength="3" required>
            <input type="submit" value="Start the game!"></br>
            <span class="has-text-light"><em>
                <ul>
                    <li>Please use <strong>only</strong> letters, numbers and _ - @ $ &</li>
                    <li>Use between 3-12 characters</li>
                    <li>No spaces allowed</li>
                </ul>
            </em></span>
        </form>
    </div>
    <div id="help-modal" class="modal has-box-shadow has-text-light">
        <div class="close-btn" onclick="toggleModalVisibility(modals.help);"><img src="images/close@2x.png"/></div>
            <h2 class="has-text-uppercase">How to play this game?</h2>
            <hr>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, voluptates totam itaque eligendi voluptate illum! Enim inventore magni recusandae ab qui, aliquid mollitia labore in et magnam at dicta veritatis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, corrupti voluptatibus. Natus officiis ea quisquam, assumenda perferendis tempore dolorum quibusdam ad praesentium odio quod reiciendis vitae ex rem accusantium officia.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque expedita voluptatibus ipsa aperiam maiores qui blanditiis assumenda minus, vitae aliquid. Quis, sed tenetur accusamus corrupti magni et ipsam nemo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque tempore, incidunt quas omnis voluptatem reprehenderit corporis ab commodi vel quod, quo sequi! Nihil debitis maiores officia est dignissimos, cupiditate dolores?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur repellendus consectetur harum culpa tempore, consequuntur, cumque maxime consequatur totam accusantium recusandae aperiam animi, ducimus vel ullam ut cupiditate in incidunt?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid harum non quibusdam natus fugiat quia sit quaerat atque, incidunt pariatur autem, ex, corporis asperiores eligendi modi. Quae consequuntur tempora sed?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio hic necessitatibus sed est in voluptate dicta quasi. Saepe inventore architecto totam iste consequuntur vitae quidem, ex veritatis et laudantium veniam?
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, voluptates totam itaque eligendi voluptate illum! Enim inventore magni recusandae ab qui, aliquid mollitia labore in et magnam at dicta veritatis?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, corrupti voluptatibus. Natus officiis ea quisquam, assumenda perferendis tempore dolorum quibusdam ad praesentium odio quod reiciendis vitae ex rem accusantium officia.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque expedita voluptatibus ipsa aperiam maiores qui blanditiis assumenda minus, vitae aliquid. Quis, sed tenetur accusamus corrupti magni et ipsam nemo.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque tempore, incidunt quas omnis voluptatem reprehenderit corporis ab commodi vel quod, quo sequi! Nihil debitis maiores officia est dignissimos, cupiditate dolores?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur repellendus consectetur harum culpa tempore, consequuntur, cumque maxime consequatur totam accusantium recusandae aperiam animi, ducimus vel ullam ut cupiditate in incidunt?
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid harum non quibusdam natus fugiat quia sit quaerat atque, incidunt pariatur autem, ex, corporis asperiores eligendi modi. Quae consequuntur tempora sed?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio hic necessitatibus sed est in voluptate dicta quasi. Saepe inventore architecto totam iste consequuntur vitae quidem, ex veritatis et laudantium veniam?
                </p>
            </p>
        </div>
        <div id="small-window-modal" class="modal has-box-shadow has-text-light">
            <h2 class="has-text-uppercase">Warning: your screen size is too small!</h2>
            <hr>
            <p>
            You're most probably playing this game on a mobile device, please be aware that we can't quarantee your user experience on such a small screen! </br>
            <strong>For the best experience, please play this game on a desktop computer!</strong>
            </p>
        </div>
    <script src="javascripts/field.js"></script>
    <script src="javascripts/board.js"></script>
    <script src="javascripts/game.js"></script>
</body>
</html>