<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wrath of Ancient Egypt - Online Multiplayer Ludo Game!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/mdn1alb.css">
</head>
<body class="splash">
    <div class="wrapper">
        <div class="game-title">
            <h1 class="title has-text-bold has-text-uppercase">Wrath <span class="has-text-light">of</span> Ancient Egypt</h1>
            <h2 class="subtitle has-text-light has-text-uppercase">An online multiplayer Ludo game</h2>
        </div>

        <div class="game-buttons">
            <a href="/game" class="btn has-text-uppercase text-color-white has-box-shadow">Start playing</a>
            <button onclick="toggleModalVisibility(modals.help);" class="btn has-text-uppercase text-color-white has-box-shadow">How to play?</button>
            <button onclick="toggleModalVisibility(modals.about);" class="btn has-text-uppercase text-color-white has-box-shadow">About</button>
        </div>

        <div class="game-stats">
            <ul>
                <li class="stat has-text-uppercase"><span class="has-text-bold">6</span> games currently ongoing.</li>
                <li class="stat has-text-uppercase"><span class="has-text-bold">28</span> players online right now.</li>
                <li class="stat has-text-uppercase"><span class="has-text-bold">103</span> games finished in the last 24 hours.</li>
            </ul>
        </div>
        <div class="game-view">
                <img src="images/gameview@2x.png" />
        </div>
        <div id="help-modal" class="modal has-box-shadow has-text-light">
            <div class="close-btn" onclick="toggleModalVisibility(modals.help);"><img src="images/close@2x.png"/></div>
            <h2 class="has-text-uppercase">How to play this game?</h2>
            <hr>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, voluptates totam itaque eligendi voluptate illum! Enim inventore magni recusandae ab qui, aliquid mollitia labore in et magnam at dicta veritatis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, corrupti voluptatibus. Natus officiis ea quisquam, assumenda perferendis tempore dolorum quibusdam ad praesentium odio quod reiciendis vitae ex rem accusantium officia.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque expedita voluptatibus ipsa aperiam maiores qui blanditiis assumenda minus, vitae aliquid. Quis, sed tenetur accusamus corrupti magni et ipsam nemo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque tempore, incidunt quas omnis voluptatem reprehenderit corporis ab commodi vel quod, quo sequi! Nihil debitis maiores officia est dignissimos, cupiditate dolores?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur repellendus consectetur harum culpa tempore, consequuntur, cumque maxime consequatur totam accusantium recusandae aperiam animi, ducimus vel ullam ut cupiditate in incidunt?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid harum non quibusdam natus fugiat quia sit quaerat atque, incidunt pariatur autem, ex, corporis asperiores eligendi modi. Quae consequuntur tempora sed?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio hic necessitatibus sed est in voluptate dicta quasi. Saepe inventore architecto totam iste consequuntur vitae quidem, ex veritatis et laudantium veniam?
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, voluptates totam itaque eligendi voluptate illum! Enim inventore magni recusandae ab qui, aliquid mollitia labore in et magnam at dicta veritatis?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, corrupti voluptatibus. Natus officiis ea quisquam, assumenda perferendis tempore dolorum quibusdam ad praesentium odio quod reiciendis vitae ex rem accusantium officia.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque expedita voluptatibus ipsa aperiam maiores qui blanditiis assumenda minus, vitae aliquid. Quis, sed tenetur accusamus corrupti magni et ipsam nemo.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque tempore, incidunt quas omnis voluptatem reprehenderit corporis ab commodi vel quod, quo sequi! Nihil debitis maiores officia est dignissimos, cupiditate dolores?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur repellendus consectetur harum culpa tempore, consequuntur, cumque maxime consequatur totam accusantium recusandae aperiam animi, ducimus vel ullam ut cupiditate in incidunt?
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid harum non quibusdam natus fugiat quia sit quaerat atque, incidunt pariatur autem, ex, corporis asperiores eligendi modi. Quae consequuntur tempora sed?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio hic necessitatibus sed est in voluptate dicta quasi. Saepe inventore architecto totam iste consequuntur vitae quidem, ex veritatis et laudantium veniam?
                </p>
            </p>
        </div>
        <div id="about-modal" class="modal has-box-shadow has-text-light">
                <div class="close-btn" onclick="toggleModalVisibility(modals.about);"><img src="images/close@2x.png"/></div>
                <h2 class="has-text-uppercase">About this game</h2>
                <hr>
                <p>
                This game was made by Hanneke & Maurits, as part of the assignments for the TU Delft's CSE1500 <a href="https://github.com/chauff/Web-Teaching#assignments" target="_blank" rel="nofollow">Web&Database course</a>. And was build upon node.js.</p>
                <p>Assets have been drawn ourselves, and are free to use for anything you want in accordance with the <a href="https://creativecommons.org/choose/zero/" target="_blank" rel="nofollow">CC0 license</a>. 
                </p>
                <p>
                    Hit Hanneke up on Instagram: <a href="https://www.instagram.com/hanneke.post/" target="_blank" rel="nofollow">@hanneke.post</a></br>
                    Or Maurits on Twitter: <a href="https://twitter.com/mauritsmisana" target="_blank" rel="nofollow">@mauritsmisana</a>
                </p>
            </div>
    </div>
    <script src="javascripts/splash.js"></script>
</body>
</html>