<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wrath of Ancient Egypt - Online Multiplayer Ludo Game!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/mdn1alb.css">
</head>
<body class="splash">
    <div class="wrapper">
        <div class="game-title">
            <h1 class="title has-text-bold has-text-uppercase">Wrath <span class="has-text-light">of</span> Ancient Egypt</h1>
            <h2 class="subtitle has-text-light has-text-uppercase">An online multiplayer Ludo game</h2>
        </div>

        <div class="game-buttons">
            <a href="/game" class="btn has-text-uppercase text-color-white has-box-shadow">Start playing</a>
            <button onclick="toggleModalVisibility(modals.help);" class="btn has-text-uppercase text-color-white has-box-shadow">How to play?</button>
            <button onclick="toggleModalVisibility(modals.about);" class="btn has-text-uppercase text-color-white has-box-shadow">About</button>
        </div>

        <div class="game-stats">
            <ul>
                <li class="stat has-text-uppercase"><span class="has-text-bold"><%= gamesInitialized %></span> 
                    <%if (gamesInitialized != 1) { %>
                    games
                <% } else { %>
                    game
                <% } %> currently ongoing.</li>
                <li class="stat has-text-uppercase"><span class="has-text-bold"><%= players %></span> 
                    <%if (players != 1) { %>
                    users
                <% } else { %>
                    user
                <% } %> playing right now.</li>
                <li class="stat has-text-uppercase"><span class="has-text-bold"><%= gamesAborted %></span> 
                <%if (players != 1) { %>
                    games
                <% } else { %>
                    game
                <% } %> aborted.</li>
            </ul>
        </div>
        <div class="game-view">
                <img src="images/gameview@2x.png" />
        </div>
        <div id="help-modal" class="modal has-box-shadow has-text-light">
            <div class="close-btn" onclick="toggleModalVisibility(modals.help);"><img src="images/close@2x.png"/></div>
            <h2 class="has-text-uppercase">How to play this game?</h2>
            <hr>
            <p>
            When you start Ludo, you see a squared board. On this board there is a pattern in the shape of a cross. Every arm of the cross is divided into three columns of eight squares. The middle column has the colour of the corresponding player, and other players cannot land there. In each corner, there are 4 squares of the same colour where each of the pieces of each corresponding player begin.</br> 
            Each player chooses a colour and they take turns in clockwise order.  To start playing on the board with a piece, the player must throw 6 with the dice. Then the piece starts at the coloured square close to the 4 home squares. When there are more pieces than 1 of a player on the board, the player decides which one will move. Also, when a player throws 6, he can take another turn.</br>
            If a piece lands on another piece, the piece that is landed on is returned to its starting squares.</br>
            A player wins when all 4 pieces have navigated over the whole board, and are situated in the home column. Only with an exact throw it is possible to move a piece into the home column.
            </p>
        </div>
        <div id="about-modal" class="modal has-box-shadow has-text-light">
            <div class="close-btn" onclick="toggleModalVisibility(modals.about);"><img src="images/close@2x.png"/></div>
            <h2 class="has-text-uppercase">About this game</h2>
            <hr>
            <p>
            This game was made by Hanneke & Maurits, as part of the assignments for the TU Delft's CSE1500 <a href="https://github.com/chauff/Web-Teaching#assignments" target="_blank" rel="nofollow">Web&Database course</a>. And was build upon node.js.</p>
            <p>Assets have been drawn ourselves, and are free to use for anything you want in accordance with the <a href="https://creativecommons.org/choose/zero/" target="_blank" rel="nofollow">CC0 license</a>. 
            </p>
            <p>
                Hit Hanneke up on Instagram: <a href="https://www.instagram.com/hanneke.post/" target="_blank" rel="nofollow">@hanneke.post</a></br>
                Or Maurits on Twitter: <a href="https://twitter.com/mauritsmisana" target="_blank" rel="nofollow">@mauritsmisana</a>
            </p>
        </div>
        <div id="small-window-modal" class="modal has-box-shadow has-text-light">
            <h2 class="has-text-uppercase">Warning: your screen size is too small!</h2>
            <hr>
            <p>
            You're most probably playing this game on a mobile device, please be aware that we can't quarantee your user experience on such a small screen! </br>
            <strong>For the best experience, please play this game on a desktop computer!</strong>
            </p>
        </div>
    </div>
    <script src="javascripts/splash.js"></script>
</body>
</html>