html {
  width: 100vw;
  height: 100vh; 
}

body {
  margin: 0;
  font-family: caslons-egyptian,sans-serif;
  font-weight: 400;
  color: #3C2801;
  font-style: normal;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23b09f5e' fill-opacity='0.06'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(#fffeed 0%, #fffeea 34.09%, #fffdd5 100%);
  max-width: 100%;
  background-size: 300px;
}

body.splash {
  padding: 40px;
}

body.game {
  padding: 20px;
}

img {
  max-width: 100%;
}

.wrapper {
  position: relative;
  display: flex;
}

body.splash .wrapper {
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: calc(100vh - 80px);
}

body.game .wrapper {
  height: calc(100vh - 40px);
}

.has-text-light {
  font-weight: 200;
}

.has-text-regular {
  font-weight: 400;
}

.has-text-bold {
  font-weight: 700;
}

.has-text-uppercase {
  text-transform: uppercase;
}

.text-color-white {
  color: white;
}

.has-box-shadow {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.game-title {
  text-align: right;
  line-height: 0.2;
}

.title {
  font-size: 6vw;
}

.subtitle {
  font-size: 2em;
}

.btn {
  border-radius: 40px;
  background: linear-gradient(#b2a159 0%, #957e27 100%);
  font-family: caslons-egyptian,sans-serif;
  font-weight: 400;
  padding: 0.5em 2em;
  font-size: 1.5em;
  display: block;
  border-style: none;
}

.btn:hover {
  filter: brightness(1.15);
  cursor: pointer;
}

.btn:not(:first-of-type) {
  margin-top: 24px;
}

.splash .game-buttons .btn {
  margin-right: 0;
  margin-left: auto;
}

.splash .game-stats ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  line-height: 1.2;
}

.splash .game-stats li.stat {
  font-size: 1.5em;
}

.splash .game-view {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.splash .game-view img {
  max-height: 75vh;
  max-width: 55vw;
}

.modal {
  background: linear-gradient(#fffeed 0%, #fffeea 34.09%, #fffdd5 100%);
  width: 70vw;
  max-width: 550px;
  height: auto;
  max-height: 80vh;
  overflow: scroll;
  padding: 25px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
  border-radius:10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.modal hr {
  border-color: #f4e8b6;
}

.modal h2 {
  font-size: 2em;
  margin-bottom: 0.4em;
  text-align: left;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal .close-btn {
  float: right;
  width: 48px;
  height: 48px;
  margin: -8px -8px auto auto;
}

.modal .close-btn img {
  width: 32px;
  margin: 8px;
}

.modal input[type="text"] {
  -webkit-appearance: none;
  width: 40%;
  border: 0;
  padding: 6px;
  border: 1px solid #b2a159;
  background: white;
  border-radius: 0;
  margin: 6px 0;
  font-size: 1.1em;
  text-transform: uppercase;
}

.modal input[type="submit"] {
  border-radius: 20px;
  background: linear-gradient(#b2a159 0%, #957e27 100%);
  font-family: caslons-egyptian,sans-serif;
  font-weight: 400;
  padding: 0.5em 0.75em;
  font-size: 1.1em;
  border-style: none;
  color: white;
  text-transform: uppercase;
}

.modal ul {
  padding: 0;
  margin: 16px 0 0;
}

body.game .control-buttons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

body.game .control-buttons div {
  width: 48px;
  height: 48px;
}

body.game .control-buttons div:not(:first-of-type) {
  margin-top: 12px;
}

body.game .exit-btn {
  background: linear-gradient(#b2a159 0%, #957e27 100%);
  border-radius: 20px;
  font-family: caslons-egyptian,sans-serif;
  font-weight: 400;
  padding: 0.5em 0.75em;
  font-size: 1.1em;
  border-style: none;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;

}

body.game .player {
  position: absolute;
  overflow: hidden;
  max-width: 15vw;
  text-align: center;
  opacity: 0.4;
}

body.game .player.active {
  opacity: 1;
}

body.game .player img.player-coin {
  max-width: 7vw;
}

body.game .player .player-name {
  text-transform: uppercase;
  margin: 12px 0 0;
}

body.game .player.player-blue {
  top: 0;
  left: 0;
}

body.game .player.player-orange {
  top: 0;
  right: 0;
}

body.game .player.player-green {
  bottom: 0;
  left: 0;
}

body.game .player.player-yellow {
  bottom: 0;
  right: 0;
}

body.game #board-layout-canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

